<app-layout>
  <div>
    <img src="assets/images/process_7.png" alt="" />
  </div>
  <div class="congratulations secondary">
    <div>Congratulations!</div>
    <div class="font_BH3">恭喜你完成Scrum新手村!</div>
    <div class="font_BH3">相信在未來的道路上Scrum會成為你最好的夥伴!</div>
  </div>
  <div class="congratulations_bg"></div>
  <footer class="bg-secondary white font_notice">
    Code By 王浚宇 / Design by 邱仲德 /
    <a
      class="white"
      href="https://www.vecteezy.com/vector-art/7928613-isometric-student-character-collection"
    >
      Character attribute by Vecteezy</a
    >
  </footer>
</app-layout>
