.overView {
  margin: 20.29px 0 48.52px 60px;
}

.tabs {
  width: 1164px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 15px;
  .titleGroup {
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.5;
  }
  .active {
    color: var(--white);
    opacity: 1;
    & span:first-child:before {
      content: "";
      background-image: url(../../assets/images/icon.png);
      background-repeat: no-repeat;
      width: 27px;
      height: 32px;
      position: absolute;
      margin-left: -40px;
      margin-top: 8px;
    }
  }
}

.content {
  padding: 36px 60px;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1074px;
  height: 336px;
  opacity: 0.85;
  border-radius: 20px;
  z-index: 1;
  position: relative;
}

.footer {
  background-image: url(../../assets/images/sprintIntroduce_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 1440px;
  height: 604px;
  bottom: 0;
}
