:root {
  // 主要色系
  --primary: #70d6df;
  --secondary: #473438;
  --white: #ffffff;
  --green: #80c74f;
  --grey: #524d5b;
  // --background: #f0f0f0;
  // --orange: #ffb800;
  // --black: #424242;
}
