<div class="dialog" *ngIf="isShowDialog">
  <div class="desc"></div>
  <app-start-button
    class="startButton"
    (click)="isShowDialog = false"
  ></app-start-button>
</div>
<app-layout>
  <div>
    <img src="assets/images/process_2.png" alt="" />
  </div>
  <div class="overView">
    <img class="avatar" src="assets/images/productManager_Head.png" alt="" />
    <img src="assets/images/po_targetDescription.png" alt="" />
  </div>
  <div class="content">
    <div class="interactiveContent">
      <!-- items -->
      <div>
        <ul
          cdkDropList
          #todoList="cdkDropList"
          [cdkDropListData]="todo"
          [cdkDropListConnectedTo]="[doneList]"
          class="productPendingFrom"
          (cdkDropListDropped)="drop($event)"
        >
          <li
            class="dragItem font_BH3 secondary"
            *ngFor="let item of todo"
            cdkDrag
          >
            {{ item.title }}
            <span class="font_paragraph" *ngIf="item.note">
              {{ item.note }}</span
            >
          </li>
        </ul>
      </div>
      <!-- rock -->
      <div class="productPendingToContainer">
        <div class="bg_rock"><img src="assets/images/rock.png" alt="" /></div>
        <ul
          cdkDropList
          #doneList="cdkDropList"
          [cdkDropListData]="done"
          [cdkDropListConnectedTo]="[todoList]"
          class="productPendingTo"
          (cdkDropListDropped)="drop($event)"
        >
          <li
            class="nonSelect font_BH3 secondary"
            *ngIf="done.length === 0"
            cdkDrag
          >
            {{ "empty" }}
          </li>
          <li
            class="dragItem font_BH3 secondary"
            *ngFor="let item of done"
            cdkDrag
          >
            {{ item.title }}
            <span class="font_paragraph" *ngIf="item.note">
              {{ item.note }}</span
            >
          </li>
        </ul>

        <!-- <ul class="productPendingTo">
          <li
            class="dragItem font_BH3 secondary"
            *ngFor="let item of todo"
            cdkDrag
          >
            {{ item.title }}
            <span class="font_paragraph" *ngIf="item.note">
              {{ item.note }}</span
            >
          </li>
        </ul> -->
      </div>
    </div>
  </div>
  <div class="footer">
    <!-- back or next -->
    <div></div>
  </div>
</app-layout>
