@mixin dragItem($width, $height) {
  .dragItem {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: $width;
    height: $height;
    padding: 12px 36px;
    box-sizing: border-box;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 1);
    position: relative;
    box-shadow: 10px 10px var(--secondary);
  }
}

.overView {
  margin: 20.29px 0 40px 60px;
}
.content {
  // display: flex;
  position: relative;
  z-index: 1;
  .flow {
    background-image: url(../../assets/images/flow.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 240px;
    height: 417px;
    left: 45px;
    position: absolute;
  }
  .sprintCycle {
    position: absolute;
    background-image: url(../../assets/images/sprintCycle.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 1328px;
    height: 490px;
    padding-top: 68px;
    top: 12px;
    padding-left: 100px;
  }
  ul {
    position: absolute;
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 32px;
    }

    &.sprintItemStyle {
      @include dragItem(308px, 110px);
      right: 82px;
      top: -21px;
    }

    &.dailyScrumStyle {
      @include dragItem(308px, 110px);

      right: 453px;
      top: 76px;
    }

    &.sprintReviewStyle {
      @include dragItem(308px, 110px);

      right: 456px;
      top: 402px;
    }

    &.sprintRetrospectiveStyle {
      @include dragItem(308px, 110px);

      right: 132px;
      top: 404px;
    }

    .nonSelect {
      width: 290px;
      height: 110px;
      // background-color: red;
      // visibility: hidden;
      // background: rgba(44, 132, 146, 0.5);
      // border: 5px dashed #ffffff;
      // border-radius: 12px;
    }
  }
}

.custom-placeholder {
  width: 290px;
  height: 110px;
  // background-color: red;
  // visibility: hidden;
  background: rgba(44, 132, 146, 0.5);
  border: 5px dashed #ffffff;
  border-radius: 12px;
}

.footer {
  background-image: url(../../assets/images/sprintFlow_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 1440px;
  height: 583px;
  bottom: 0;
}

.cdk-drag-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0.75;
  list-style: none;
  box-sizing: border-box;
  border-radius: 12px;
  border: 3px solid var(--secondary);
  background-color: var(--white);
}

.cdk-drag-placeholder {
  opacity: 0;
  // width: 290px;
  // height: 110px;
  // // background-color: red;
  // // visibility: hidden;
  // background: rgba(44, 132, 146, 0.5);
  // border: 5px dashed #ffffff;
  // border-radius: 12px;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
