<section class="container">
  <div class="home1">
    <div
      class="startExplore"
      (click)="
        home2.scrollIntoView({
          behavior: 'smooth',
          block: 'start',
          inline: 'end'
        })
      "
    >
      <p class="title white font_BH1">開始探索</p>
      <a class="exploreButton cursor-pointer"
        ><img src="assets/images/arrow.png"
      /></a>
    </div>
  </div>
  <div #home2 class="home2">
    <a
      (click)="
        home3.scrollIntoView({
          behavior: 'smooth',
          block: 'start',
          inline: 'end'
        })
      "
      class="startButton bg-primary secondary font_BH4 cursor-pointer"
      >接受挑戰</a
    >
  </div>
  <div #home3>
    <app-roles></app-roles>
  </div>
</section>
